<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Comunidade</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Comunidade</h1>
    <p>Bem vindo turma da imersão dentro da comunidade do torne-se um programador</p>
  </body>
</html>
