<!DOCTYPE html>
<html>
<head>
  <title>Sistema para validar CPF em java cpf validado</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body class="container">
  <br>
  <br>
  <br>
  <h3>A validação de CPF foi realizada</h3>

  <ul>
    <li>
      <b>Nome: </b><span th:text="${cliente.nome}"></span>
    </li>
    <li>
      <b>CPF: </b><span th:text="${cliente.cpf}"></span>
    </li>
  </ul>

  <div th:if="${validado}" class="alert alert-success" role="alert">
    Foi validado com sucesso
  </div>
  <div th:unless="${validado}" class="alert alert-danger" role="alert">
    Não é válido
  </div>

</body>

</html>